<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCne7JJwWYLHQIdF9l_tAdoSnRKHLSJrSM</string>
	<key>GCM_SENDER_ID</key>
	<string>1060105225005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boxPusher</string>
	<key>PROJECT_ID</key>
	<string>box-pusher-2fddc</string>
	<key>STORAGE_BUCKET</key>
	<string>box-pusher-2fddc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060105225005:ios:b1019093343e18682809a4</string>
	<key>DATABASE_URL</key>
	<string>https://box-pusher-2fddc-default-rtdb.firebaseio.com</string>
</dict>
</plist>